/* For use with non tailwind css */

/*************/
/* Variables */
/*************/

:root {
  --body-bg-clr: white;
  --text-clr: black;

  --nav-bg-clr-hover: #0063a7;
  --nav-bg-clr-active: #e02727;
  --utility-clr: #0896db;
  --nav-link-clr: white;
  --tagline-clr: #888;
  --notice-bg-clr: lightgrey;
  --notice-border-clr: black;

  --notice-warning-bg-clr: hsl(60deg, 50%, 95%);
  --notice-warning-border-clr: hsl(50deg, 100%, 50%);
  --notice-warning-text-clr: hsl(60deg, 100%, 10%);

  --notice-info-bg-clr: hsl(90deg, 30%, 95%);
  --notice-info-border-clr: hsl(90deg, 100%, 50%);
  --notice-info-text-clr: hsl(90deg, 100%, 10%);

  --terms-bg-clr: #ddd;
  --footer-border-clr: grey;

  --gallery-border-clr: black;
  --gallery-shadow: rgb(0 0 0 / 0.2);
  --gallery-html-hover: hsl(5, 100%, 95%);
  --gallery-css-hover: hsl(203, 100%, 95%);
  --gallery-js-hover: hsl(52, 100%, 95%);

}

[data-theme="dark"] {
  --body-bg-clr: black;
  --text-clr: white;
}


/**********/
/* Global */
/**********/
body {
  background-color: var(--body-bg-clr);
  color: var(--text-clr)
}

/**************/
/* Navigation */
/**************/
nav ul {
  list-style: none;
  padding-left: 0;
}

nav.primary ul, nav.utility ul {
  display: flex;
}

nav.primary a, nav.utility a {
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
}
nav.primary a:hover, nav.utility a:hover {
  background-color: var(--nav-bg-clr-hover);
  color: white;
}

nav.primary a:active, nav.utility a:active {

  background-color: var(--nav-bg-clr-active);
  color: var(--nav-link-clr);
}

nav.primary a, nav.utility a {
  transition: background-color 150ms ease-in-out;
}

/* Individual Nav Styles */
nav.primary ul {
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav.primary li {
  margin: 0.25rem;
}
nav.primary a {
  padding: 10px;
  font-variant: small-caps;
}

nav.utility header {
  display: none;
}
nav.utility ul {
  justify-content: flex-end;
  margin: 0 1em;
}
nav.utility a {
  background-color: var(--utility-clr);
  color: var(--nav-link-clr); 
  
  padding: 10px 25px;
}
/**********/
/* Header */
/**********/

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .25em;
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

.site-name {
  font-size: 1.75rem;
  margin: 0;
}

.tagline {
  font-size: 1.25rem;
  color: var(--tagline-clr);
  font-variant: small-caps;
  margin: 0 .35rem;
}

img.sait-logo {
  flex: 0;
  width: 60px;
}

.page-header div {
  flex: auto;
}

main {
  max-width: 110ch;
  width: 80vw;
  margin: auto;
}

/****************/
/* Page Content */
/****************/

hr {
  margin: 2em 5em;
}

/* Notice box and info box */
/* TODO: remove notice--info? */

.notice {
  /* box model */
  margin: 25px auto;
  padding: 25px 50px;
  max-width: 50ch;

  /* colour */
  border-radius: 15px;
  background-color: var(--notice-bg-clr);
  border: 5px solid var(--notice-border-clr);
}

.notice i {
  margin-right: 0.5rem;
}

/* yellow warning box */
.notice--warning {
  background-color: var(--notice-warning-bg-clr);
  border-color: var(--notice-warning-border-clr);
  color: var(--notice-warning-text-clr);
}

.notice--warning::before {
  content: url("https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/exclamation-triangle.svg");
  display: inline-block;

  width: 1.2em;
  margin-right: 0.4rem;
}

/* green warning box */
.notice--info {
  background-color: var(--notice-info-bg-clr);
  border-color: var(--notice-info-border-clr);
  color: var(--notice-info-text-clr);
}

.notice--info::before {
  content: url("https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/question.svg");
  display: inline-block;
  width: 0.8em;
  margin-right: 0.4rem;
}

/* indigo pro-tip box */
.notice--pro-tip {
  background-color: hsl(270deg, 50%, 95%);
  border-color: hsl(270deg, 100%, 50%);
  color: hsl(270deg, 100%, 10%);
}
.notice--pro-tip::before {
  content: url("https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/trophy.svg");
  display: inline-block;
  width: 1.2em;
  margin-right: 0.4rem;
}
/* indigo pro-tip box */
.notice--danger {
  background-color: hsl(0deg, 50%, 95%);
  border-color: hsl(0deg, 100%, 50%);
  color: hsl(0deg, 100%, 10%);
}
.notice--danger::before {
  content: url("https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/skull-crossbones.svg");
  display: inline-block;
  width: 0.9em;
  margin-right: 0.4rem;
}

/***************/
/* Definitions */
/***************/

.terms {
  float: right;
  width: 40ch;

  margin-left: 2rem;
  padding: 2rem;
  padding-top: 0;

  border-radius: 1rem;
  background-color: var(--terms-bg-clr);
}

dl {
  font-size: 1.2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

/**********/
/* Footer */
/**********/

footer {
  border-top: 1px solid var(--footer-border-clr);
  padding: 0;
  text-align: center;
}

/*****************/
/* Gallery Cards */
/*****************/

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery > * {
  width: 25ch;
  margin: 1rem;
  text-align: center;

  border: 3px solid var(--gallery-border-clr);
  border-radius: 10px;
  padding: 2rem;

  box-shadow: 0 3px 10px var(--gallery-shadow);
}

.gallery h3 {
  font-size: 2.5rem;
  margin: 0;
}
.gallery > a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease-in-out;
}

.gallery > a:hover.html {
  background-color: var(--gallery-html-hover);
}
.gallery > a:hover.css {
  background-color: var(--gallery-css-hover);
}
.gallery > a:hover.js {
  background-color: var(--gallery-js-hover);
}
